<h1>Drivers</h1>
<% if @drivers.any? %>
  <ul>
    <% @drivers.each do |d| %>
      <li><%= link_to d.name, driver_path(d) %></li>
    <% end %>
  </ul>
<% else %>
  <p> No drivers in the paddock!</p>
<% end %>
